# =========================
# ENV FILES (SECRETS)
# =========================
**/.env

# =========================
# NODE MODULES
# =========================
**/node_modules/

# =========================
# BUILD FILES
# =========================
dist
build
.vite

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db